<div class="main-loading-page">
  <div class="jumbotron">
    <h1 class="display-1" id="main-screen">Welcome to  Stu<span style="color: #5352ed" >Tours!</span></h1>
    <h3 style="font-family: 'Fira Sans', sans-serif; font-weight: 200;">We handle the stress of booking your university tours so you don't have to.</h3>
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg btn-radius mr-5" style="padding:30px 50px;"> <a routerLink='/student-form'>Enter as student</a> </button>
      <button type="button" class="btn btn-secondary btn-lg btn-radius" style="padding:30px 50px;">Enter as broker</button>
    </div>
    <div class="explore">
      <a class = "explore-button" style="font-family: 'Fira Sans', sans-serif; font-weight: 200; font-size: large;" routerLink='/explore'>Explore</a>
    </div>
  </div>
</div>
