
<!-- Material form subscription -->
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4" style="background-color: #5352ed; ">
      <h5 style="color: white; font-family: 'Fira Sans', sans-serif; font-weight: 300; font-size: x-large; ">Information Form</h5>
      <h5 style="color: white; font-family: 'Fira Sans', sans-serif; font-weight: 300; font-size: large; ">Provide us with your travel info so that we can plan your trip.</h5>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5">

      <!-- Form -->
      <form class="text-center" style="color: black;" action="#!">

          <div class= "student-form-travel-inputs">
            <div class="md-form mt-3">
                <input type="text" class="form-control">
                <label for="materialSubscriptionFormPasswords" style="font-weight: 300">Date of Travel (yyyy-mm-dd)</label>
            </div>

            <div class="md-form">
              <input type="email" class="form-control">
              <label for="materialSubscriptionFormEmail" style="font-weight: 300">Flights Required?</label>
            </div>

            <div class="md-form">
              <input type="email" class="form-control">
              <label for="materialSubscriptionFormEmail" style="font-weight: 300">Destination</label>
            </div>

          </div>
          <h1>Select the universties you wish to tour!</h1>
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">University of Waterloo</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">University of Toronto</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>

          <!-- Sign in button -->
          <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect buttonWidth" type="submit">Submit</button>
      </form>
      <!-- Form -->

  </div>

</div>
