<div id='get-started'>
        <p class= "display-3">Get Started</p>
        <p class="display-4">Tours are the best way to learn more about the university and get a feel for the campus. You can meet students, staff and faculty, all who help define the personality of the University.</p>
        <i class="fas fa-arrow-down fa-4x"></i>
</div>

<div class ='top'>
    <h2 class='top'>We'll start by gathering some basic information</h2>
</div>
    
    
<div class="container">
    <form class="form-inline">
      <label for="name" class="mb-2 mr-sm-2">First Name:</label>
      <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="firstname" placeholder="First name" name="firstname">
      <label for="pwd2" class="mb-2 mr-sm-2">Last Name:</label>
      <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="lastname" placeholder="Last name" name="lastname">
    </form>
    <form class="form-inline">
            <label for="name" class="mb-2 mr-sm-2">Home Address:</label>
            <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="firstname" placeholder="Address" name="firstname">
            <label for="username" class="mb-2 mr-sm-2">User Name:</label>
            <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="username" placeholder="Enter user name" name="username">
    </form>     
    <form class="form-inline">
    <label for="numtours" class="mb-2 mr-sm-2">How many people will be joining you? </label>
    <select class = 'custom-select'>
        <option class="input-large">1</option>
        <option class="input-large">2</option>
        <option class="input-large">3</option>
        <option class="input-large">4</option>
        <option class="input-large">5</option>
    </select>
</form>


  </div>

